<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LogInPage</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInPage</servlet-name>
    <url-pattern>/LogInPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogInGetCookie</servlet-name>
    <servlet-class>servlets.LogInGetCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInGetCookie</servlet-name>
    <url-pattern>/LogInGetCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendCoinAction</servlet-name>
    <servlet-class>servlets.SendCoin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendCoinAction</servlet-name>
    <url-pattern>/SendCoinAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Addresses</servlet-name>
    <jsp-file>/addresses.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addresses</servlet-name>
    <url-pattern>/Addresses</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendCoin</servlet-name>
    <jsp-file>/sendcoin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendCoin</servlet-name>
    <url-pattern>/SendCoin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Settings</servlet-name>
    <jsp-file>/settings.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Settings</servlet-name>
    <url-pattern>/Settings</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Transactions</servlet-name>
    <jsp-file>/transactions.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transactions</servlet-name>
    <url-pattern>/Transactions</url-pattern>
  </servlet-mapping>
</web-app>